@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Kanit:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Archivo Black", sans-serif;
}

.top-section {
  background-image: url(images/kitesurf_djw.JPG);
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
}

.kite-logo {
  width: 200px;
  height: auto;
  position: fixed;
  left: 40px;
  top: 30px;
}

.nav-bar {
  position: fixed;
  right: 150px;
  top: 100px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  color: #e68f39;
}

.tag-line {
  font-weight: 900;
  font-size: 100px;
  line-height: 90px;
  position: relative;
  left: 45px;
  top: 250px;
}

.tag-line p {
  overflow-y: hidden;
}

.slogan {
  color: #e68f39;
}

.slogan-fly {
  font-size: 80px;
  color: white;
}

.booking-btn {
  font-size: 25px;
  color: #e68f39;
  padding: 5px;
  border: 2px solid #e68f39;
  border-radius: 50px;
  position: relative;
  top: -50px;
  text-decoration: none;
  width: 300px;
  height: 45px;
  text-align: center;
}

.booking-btn:hover {
  color: white;
  border-color: white;
}

.bottom-section {
  background-image: url(images/IMG_4873.PNG);
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.tag-line2 {
  font-weight: 900;
  font-size: 100px;
  line-height: 90px;
  position: relative;
  left: 650px;
  top: 180px;
}

.tag-line2 p {
  overflow-y: hidden;
}

.footer-text {
  text-align: center;
  color: black;
  font-family: "Archivo Black", sans-serif;
  background-color: white;
}

.lesson-page {
  background-image: url(images/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.contact-page {
  background-image: url(images/mountainsandsea.jpg);
  background-size: cover;
}

/* .contact-form-container {
  position: relative;
  top: 250px;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */
